*::-webkit-scrollbar {
  width: 0.7em;
  height: 0em;
  background-color: none;
}

*::-webkit-scrollbar-track-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b4173;
}

*::-webkit-scrollbar-corner {
  display: none;
}

@media screen and (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar-track-button {
    display: none;
  }

  *::-webkit-scrollbar-thumb {
    display: none;
  }

  *::-webkit-scrollbar-corner {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  *::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar-track-button {
    display: none;
  }

  *::-webkit-scrollbar-thumb {
    display: none;
  }

  *::-webkit-scrollbar-corner {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  *::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar-track-button {
    display: none;
  }

  *::-webkit-scrollbar-thumb {
    display: none;
  }

  *::-webkit-scrollbar-corner {
    display: none;
  }
}

.swal2-styled {
  border-radius: 64px !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  font-weight: bold;
}